@charset "UTF-8";
@font-face{
	font-family: 'FonteLogo';
	src: url("../_fonts/bubblegum-sans-regular.otf");
}

@font-face{
	font-family: 'cinzel';
	src: url("../_fonts/Cinzel-VariableFont_wght.ttf");
}

body{
	font-family: arial, sans-serif;
	background-color: #dddddd;
	color: rgba(0, 0, 0, 1.0);
}

a{
	color:#606060;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

div#interface {
	width: 1200px;
	background-color: #f5f5f5;
	margin: 0px auto 0px auto;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	padding: 10px; 
}

header#cabecalho {
	border-bottom: 1px #606060 solid;
	height: 150px;
	background: url("../_imagens/png_glass.png") no-repeat 0px 90px;
}

header#cabecalho h1{
	font-family: 'Fontelogo', sans-serif;
	font-size: 40px;
	color: rgb(105, 105, 105);
	padding: 0px;
	margin-bottom: 0px;
}

header#cabecalho h2{
	font-family: cinzel, sans-serif;
	font-size: 15pt;
	color: #808080;
	padding: 0px;
	margin-top: 0px;
}

header#cabecalho img#icone {
	position: absolute;
	left: 1090px;
	top: 100px;
}

p{
	text-align: justify;
	text-indent: 50px;
	font-family: verdana, sans-serif;
	}

/* formataçao de imagens com legendas*/

figure.foto-legenda {
	position: relative;
	border: 8px solid white;
	box-shadow: 1px 1px 4px black;
	}

figure.foto-legenda img{
	width: 100%;
	height: 100%;
	}

figure.foto-legenda figcaption{
	opacity: 0;
	position: absolute;
	top: 0px;
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	transition: opacity 1s;
}

figure.foto-legenda:hover figcaption{
	opacity: 1;
}

/*formatação do menu*/

nav#menu {
	display: block;
}

nav#menu ul{
list-style: none;
text-transform: uppercase;
position: absolute;
top: 0px;
left: 645px;
}

nav#menu li{
	display: inline-block;
	background-color: #dddddd;
	padding: 10px;
	margin: 2px;
	transition: background-color 1s;
}

nav#menu li:hover{
	background-color: #606060;
}

nav#menu h1{
	display: none;
}

nav#menu a{
	font-family: georgia, sans-serif;
	color: #000000;
	text-decoration: none;
}

nav#menu a:hover{
	color: #ffffff;
}
/*corpo das paginas adcionais*/
section#corpo-full{
	display: block;
	float: center;
	padding-right: 10px;
}
/*Formatação do corpo, lateral e rodapé da pagina inicial */
section#corpo{
	display: block;
	width: 610px;
	float: left;
	border-right: 1px solid #606060;
	padding-right: 10px;
}
aside#lateral{
	display: block;
	width: 550px;
	float: right;
	background-color: rgba(160, 160, 160, .3);
	padding: 10px;
	margin-top: 10px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

aside#lateral h1{
	font-family: 'FonteLogo', sans-serif;
	color: #606060;
	margin-top: 0px;

}

aside#lateral h2{
	color: #dddddd;
	background-color: #808080;
	padding: 5px;
}

footer#rodape{
	clear: both;
}

footer#rodape p{
	text-align: center;
	border-top: 1px solid #606060;
	padding-top: 10px;
}

/*artigos*/
article#noticia-principal h2{
	font-size: 15px;
	color: #606060;
	background-color: #dddddd;
	padding: 5px 0px 5px 10px;
	margin: 10px 0px 10px 5px;
}

header#cabecalho-artigo h1{
	font-family: 'FonteLogo';
	font-size: 20pt;
	color: #606060;
	margin-bottom: 0px;
}

header#cabecalho-artigo h2{
	font-size: 15px;
	color: #808080;
	background-color: rgba(0, 0, 0, 0);
}

header#cabecalho-artigo h3{
	font-size: 12pt;
	color: #606060;
}

.direita{

	text-align: right;
}

/*configuração da tabela*/
table#tabelaspec{
	border: 1px solid #606060;
	border-spacing: 0px;
	margin:auto auto 30px auto;
}

table#tabelaspec td{
	border: 1px solid #606060;
	padding: 10px;
}

table#tabelaspec td.ce{
	color: #ffffff;
	background-color: #606060;
	text-align: right;
	vertical-align: top;
	font-weight: bold;
}

table#tabelaspec td.cd{
	background-color: #dddddd;
	font-weight: bolder;
}

table#tabelaspec caption{
	color: #606060;
	font-size: 22px;
	font-weight: bold;
	padding-left: 30px;
}

table#tabelaspec caption span{
	display: block;
	position: absolute;
	float: right;
	margin-top: 242px;
	margin-left:340px;
	color: #606060;
	font-size: 15px;
}
div#video-um{
    text-align: center;
    margin-bottom: 15px;
}
video#one-day{
	width: 605px;
	border: 2px solid #808080;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 1.0);
}
div#video-dois{
	text-align: center;
}
video#how-it-feels{
	width: 545px;
	height: 305px;
	padding: 0px;
	border: 2px solid #808080;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 1.0);
}
iframe#site-glass{
	width: 550px;
	height: 903px;
	padding: 0px;
	border: 2px solid #808080;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 1.0);
}